<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_-bovtvtcUIgE-89hnftll0rVRk4Pf9g</string>
	<key>GCM_SENDER_ID</key>
	<string>369726717074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.paymentanalysis</string>
	<key>PROJECT_ID</key>
	<string>chatdeloitte-e477e</string>
	<key>STORAGE_BUCKET</key>
	<string>chatdeloitte-e477e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369726717074:ios:51edc8ffe365d265783a4b</string>
</dict>
</plist>